.bookCategory {
  background-color: var(--color-background);
  border: var(--color-line) solid 2px;
  padding: 20px;
  margin: 20px;
  width: 50vw;
  border-radius: 5px;
}

.bookCategory:hover {
  background-color: var(--color-pink);
}