.nav {
  position: fixed;
  top: 20px;
  width: 50vw;
  left: 23.5%;
  z-index: 10;
  background-color: var(--color-yellow);
  padding: 20px;
  border-radius: 5px;
  border: var(--color-line) solid 2px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
}